@charset "utf-8";
.header {
	padding: .8rem 0 0 0;
	overflow: hidden;
}

.tfun {
	overflow: hidden;
}

.fun {
	width: 1rem;
	height: 1rem;
	display: inline-block;
}

.setImg1 {
	background: url(../images/index/shop.png) no-repeat;
	background-size: 100%;
}

.setImg2 {
	background: url(../images/index/set.png) no-repeat;
	background-size: 100%;
}

.tfun a {
	font-size: .65rem;
	line-height: 1.1rem
}

.shopA {
	margin: -.1rem 0 0 10px
}

.setA {
	margin: -.07rem 10px 0 0;
}

.memberHead {
	overflow: hidden;
}

.integral {
	display: flex;
	align-content: center;
	display: -webkit-flex;
	justify-content: space-between;
	padding: .5rem 0 0 0;
}

.integral_content {
	width: 2.3rem;
	text-align: center;
}

.integral_number {
	font-size: .7rem;
	line-height: 1rem;
	font-weight: bold;
}

.integral_word {
	color: #7e7d7d;
	font-size: .6rem;
}

.barCode {
	padding: .15rem 0 0 0;
	position: relative;
}

.marketPic {
	background: url(../images/index/market.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 7.4rem;
}

.marketPic_zhan {
	width: 100%;
	height: 2.9rem;
}

.marketPic_wei {
	width: 100%;
	height: 4rem;
	display: flex;
	align-items: center;
	display: -webkit-flex;
	justify-content: center;
}

.pogressLever {
	overflow: hidden;
	font-size: .55rem;
	color: #e67f12
}

.barCodeContent {}

.twoLine {
	display: flex;
	align-content: center;
	display: -webkit-flex;
	justify-content: space-around;
	font-size: .7rem;
}

.twoLine a {
	display: inline-block;
}

.twoLine img {
	width: 2.5rem;
}

.twoLine div {
	margin: 0 auto;
}

.message {
	position: relative;
	top: .6rem;
	right: 1.3rem;
	text-align: right;
	display: none;
}

.messageblue {
	position: absolute;
	width: .8rem;
	height: .8rem;
	border-radius: 1rem;
	background: #09F
}

.tcon {
	padding: .35rem 0 .35rem 0;
}

.timg {
	display: flex;
	align-items: center;
	display: -webkit-flex;
	justify-content: center;
}

.fftext {
	text-align: center;
	color: #191716;
	font-size: .7rem;
	font-family: "黑体";
	padding: .2rem 0 0 0;
}

.ffborr {
	border-right: 1px solid #bab2af;
}

.ffborb {
	border-bottom: 1px solid #bab2af;
}

.fourFuntions {
	margin: .4rem auto 0 auto;
}

.timg div {
	width: 3rem;
	height: 3rem;
	display: flex;
	align-items: flex-end;
}

/*点击团出消费密码*/

.buyCode {
	display: inline-block;
	width: .8rem;
	height: .8rem;
	background: url(../images/index/mamamama.png) no-repeat;
	background-size: 100% 100%;
	margin: .8rem 1rem 0 0;
}

#buyBox {
	display: none;
}

.buyBox .marketPic {
	background: url(../images/index/506292229200422586.png) no-repeat;
	background-size: 100% 100%;
}

.closeCode {
	display: inline-block;
	width: 3rem;
	height: .7rem;
	background: url(../images/index/erweima.png) no-repeat;
	background-size: 100% 100%;
	margin: 1.45rem 2.2rem 0 0;
}

/*<!--积分规则规则-->*/

.member_rulebox {
	display: none;
	position: absolute;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100vh;
	background: rgba(0, 0, 0, 0.4);
}

.member_rule {
	width: 75%;
	margin: 6.5rem auto 0;
	padding: 0 0 1rem 0;
	background: url(../images/index/queren_0000_z.png) no-repeat;
	background-size: 100% 100%;
}

.member_ruleclose {
	width: 1.5rem;
	height: 1.5rem;
	margin: 1rem auto 0;
	background: url(../images/index/close.png) no-repeat;
	background-size: 100% 100%;
}

.member_ruletitle {
	position: relative;
	margin: 0 auto;
	padding: 1rem 0;
	font-size: .8rem;
	color: #0080cc;
	text-align: center;
}

.member_ruletitle::before {
	content: "";
	position: absolute;
	left: .8rem;
	top: 1.5rem;
	width: 3.2rem;
	height: .1rem;
	background: #0080cc;
}

.member_ruletitle::after {
	content: "";
	position: absolute;
	right: .8rem;
	top: 1.5rem;
	width: 3.2rem;
	height: .1rem;
	background: #0080cc;
}

.member_rule ul {
	width: 90%;
	margin: 0 auto;
	padding: 0 0 0 .6rem;
}

.member_rule ul li {
	margin-bottom: .2rem;
	font-size: .6rem;
	color: #0080cc;
	letter-spacing: .05rem;
}

/* 2018 5-31  会员头像修改 */

.borderBox_index {
	display: flex;
	align-items: center;
	display: -webkit-flex;
	justify-content: space-between;
}

.borderBox_index img {
	-webkit-border-radius: 4rem;
	border-radius: 4rem;
	border: 3px solid #107baf;
	width: 4rem;
	height: 4rem;
	-webkit-border-radius: 4rem;
	-moz-border-radius: 4rem;
	-ms-border-radius: 4rem;
	-o-border-radius: 4rem;
}

.memberKong {
	background: #0081cc;
	width: 4.7rem;
	line-height: 1.1rem;
	height: 1.1rem;
	/* padding: 0 .2rem 0 0; */
	border-radius: .5rem 0 0 .5rem;
}

.memberKong2 {
	/* background: #fff; */
	width: 4.7rem;
	line-height: 1.1rem;
	height: 1.1rem;
}

.memberKong_img {
	background: url(../images/storevalue/zuanshitouming.png) no-repeat center;
	width: .8rem;
	height: 1.1rem;
	float: left;
	background-size: 100%;
	margin: 0 .2rem;
}

.memberKong_text {
	color: #fff;
	font-size: .6rem;
	float: left
}