@charset "utf-8";
@charset "utf-8";
.header {
padding:.8rem 0 0 0;
	overflow: hidden;
}
.tfun {
	overflow: hidden;
}
.fun {
	width: 1.1rem;
	height: 1.1rem;
	display: inline-block;
}
.setImg1 {
	background: url(../images/storevalue/sanjiao.png) no-repeat;
	background-size: 100% 100%;
}
.setImg2 {
	background: url(../images/storevalue/set.png) no-repeat;
	background-size: 100%;
}
.tfun a {
font-size:.65rem;
	line-height: 1.1rem
}
.shopA {
	margin: 0 0 0 10px
}
.setA {
	margin: 0 10px 0 0;
}
.memberHead {
	overflow: hidden;
}
.integral {
	display: flex;
	align-content: center;
	display: -webkit-flex;
	justify-content: space-between;
 padding:.5rem 0 0 0;
}
.integral_content {
	width: 2.3rem;
	text-align: center;
}
.integral_number {
font-size:.9rem;
	line-height: 1.1rem;
}
.integral_word {
	color: #7e7d7d;
font-size:.7rem;
}
.barCode {
 padding:.15rem 0 0 0;
	position: relative;
}
.marketPic {
	background: url(../images/index/market.png) no-repeat;
	background-size: 100% 100%;
	width: 100%;
	height: 7.6rem;
}
.marketPic_zhan {
	width: 100%;
	height: 2.9rem;
}
.marketPic_wei {
	width: 100%;
	height: 4.2rem;
	display: flex;
	align-items: center;
	display: -webkit-flex;
	justify-content: center;
}
.pogressLever {
	overflow: hidden;
font-size:.55rem;
	color: #e67f12
}
.memberKong {
	background: #0081cc;
	width: 4rem;
	line-height: 1.1rem;
	height: 1.1rem;
border-radius: .5rem 0 0 .5rem;
}
.tindent {
text-indent:.1rem;
}
.memberKong3 {
	background: #0081cc;
	width: 4rem;
	line-height: 1.1rem;
	height: 1.1rem;
border-radius: 0 .5rem .5rem 0;
}
.memberKong2 {
	background: #fff;
	width: 4rem;
	line-height: 1.1rem;
	height: 1.1rem;
}
.memberKong_img {
	background: url(../images/exchange/n3.png) no-repeat center;
width:.8rem;
	height: 1.1rem;
	float: left;
	background-size: 100%;
margin:0 .2rem;
}
.memberKong_text {
	color: #fff;
font-size:.6rem;
	float: left
}
.reserveBalanceTitle {
font-size:.9rem;
	color: #fff;
	display: flex;
	align-items: flex-end;
	display: -webkit-flex;
	justify-content: space-around;
	background: #0081cc;
	height: 1.9rem;
}
/*.reserveBalanceTitle div {
margin:0 .5rem;
}*/
.reserveBalanceTime {
 font-size:.6rem;
	color: #666464;
	display: flex;
	align-items: center;
	display: -webkit-flex;
	justify-content: space-between;
	height: 1.4rem;
}
.reserveBalanceTime div {
 margin: 0 .9rem;
}
.reserveBalanceTime_img {
width:.8rem;
height:.8rem;
	background: url(../images/storevalue/jisuanqi.png) no-repeat;
	background-size: 100% 100%;
}
.reserveBalanceDetial {
	border: 1px solid #e3e3e3
}
.reserveBalanceDetial_row {
 font-size:.6rem;
	color: #666464;
	display: flex;
	align-items: center;
	display: -webkit-flex;
	justify-content: space-between;
	height: 3rem;
}
.reserveBalanceDetial_img {
	width: 1.8rem;
	height: 1.8rem;
	background-size: 100% 100%;
	float: left;
 margin: 0 .4rem 0 .7rem;
}
.detial_kind1 {
	background: url(../images/storevalue/zuanshi.png) no-repeat;
	background-size: 100% 100%;
}
.detial_kind2 {
	background: url(../images/storevalue/xinfeng.png) no-repeat;
	background-size: 100% 100%;
}
.detial_kind3 {
	background: url(../images/storevalue/chaoshi.png) no-repeat;
	background-size: 100% 100%;
}
.detial_kind4 {
	background: url(../images/storevalue/chaoshi.png) no-repeat;
	background-size: 100% 100%;
}
.reserveBalanceDetial_text {
	float: left;
}
.reserveBalanceDetial_text div {
	color: #2f2724;
 font-size:.7rem;
}
.reserveBalanceDetial_text span {
 font-size:.5rem;
}
.reserveBalanceDetial_moneyUp {
	color: #f0685c;
font-size:.9rem;
margin:0 .8rem 0 0;
}
.reserveBalanceDetial_moneyDown {
	color: #3c4767;
font-size:.9rem;
margin:0 .8rem 0 0;
}
.detial_b {
	border-bottom: 1px solid #e3e3e3
}
.borderBox2 {
	display: flex;
	align-content: center;
	display: -webkit-flex;
	justify-content: center;
	align-items: center;
}
.borderBox2 img {
	-webkit-border-radius: 4.2rem;
	border-radius: 4.2rem;
	border: 3px solid #107baf;
	width: 4.2rem;
	height: 4.2rem;
	-webkit-border-radius: 4.2rem;
	-moz-border-radius: 4.2rem;
	-ms-border-radius: 4.2rem;
	-o-border-radius: 4.2rem;
}
.memml {
padding:0 0 0 .3rem
}
.memberk_mr {
margin:0 -.1rem 0 0;
}
.memberk_ml {
margin:0 0 0 -.1rem;
}
.fdian6 {
font-size:.6rem;
}
/*当前大标题被选择时的样式*/
.tContent .selected {
	color: #0081cc;
	background: #FFF;
 -webkit-border-radius: .6rem .6rem 0 0;
	-moz-border-radius: 1rem 1rem 0 0;
	-ms-border-radius: 1rem 1rem 0 0;
	-o-border-radius: 1rem 1rem 0 0;
 border-radius: .6rem .6rem 0 0;
}
.tContent {
	height: 1.5rem;
	float: left;
 margin:.4rem 0 0 0;
	display: flex;
	align-items: flex-end;
	display: -webkit-flex;
	justify-content: space-between;
}
.tContent a {
	text-align: center;
	width: 45%;
font-size:.6rem;
	height: 1.5rem;
	align-items: center;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
letter-spacing:.05rem;
	color: #fff;
}
/*内容*/
/*产品大盒子*/
.level_content {
	height: 5.2rem;
 padding: 1.2rem 0 0 .6rem;;
}
/*产品边框*/
.level_bor {
	border-bottom: #999 1px solid;
	padding-bottom: 1.2rem;
	height: 6.4rem;
}
.main_content {
	height: 100%;
}
.content_pic {
	align-items: center;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
 margin-left:.35rem;
}
/*产品图片*/
.content_pic img {
	width: 6.2rem;
	height: 3.85rem;
 border-radius: .6rem .6rem .6rem .6rem;
}
.content_text {
}
/*产品名*/
.title {
font-size:.8rem;
	font-weight: 600;
	height: 1.3rem;
	line-height: 1.3rem;
	color: #484645
}
/*截止时间*/
.time {
font-size:.45rem;
	color: #5a5554
}
/*颜色*/
.c0081cc {
	color: #0081cc
}
/*价格字体*/
.price {
font-size:.55rem
}
/*价格字体2*/
.price2 {
font-size:.5rem;
}
/*最后一行字体*/
.lowPrice {
	overflow: hidden;
font-size:.6rem;
}
.lowPrice a {
	display: inline-block;
	width: 3.2rem;
height:.8rem;
}
/*a标签图片*/
.kindimg{background:url(../images/qiandao/rightshare.png) no-repeat;background-size:100%;}




.lowDiv {
	height: 1.365rem;
padding-top:.18rem;
}
.mlowte {
margin:.2rem 0 0 0;
}
.singer_r_img {
	display: block;
	width: 114px;
	height: 52px;
	line-height: 45px;
	background: url(images/sing_week.gif) right 2px no-repeat;
	vertical-align: middle;
*margin-bottom:-10px;
	text-decoration: none;
}
.singer_r_img:hover {
	background-position: right -53px;
	text-decoration: none;
}
.singer_r_img span {
	margin-left: 14px;
	font-size: 16px;
	font-family: 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif !important;
	font-weight: 700;
	color: #165379;
}
.singer_r_img.current {
	background: url(images/sing_sing.gif) no-repeat 0 2px;
	border: 0;
	text-decoration: none;
}
/* table样式*/
.sign table {
	width: 100%;
	border-collapse: separate;
 border-spacing: .1rem;;
	color: #ef8300;
	font-weight: bold;
font-size:.6rem;
}
/*行列 总样式*/
.sign th, .sign td {
	width: 30px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border: 1px solid #fff;
	background: #fff;
}
/*行*/
.sign th {
font-size: .8rem;
	background: #fff;
}
/*列*/
.sign td {
	color: #ef8300;
	vertical-align: middle;
	background: #fff;
}
/*已签到*/
.sign .on {
	background-color: #1879bd;
	color: #FFF;
}
.calendar_month_next, .calendar_month_prev {
	width: 34px;
	height: 40px;
	cursor: pointer;
	background: url(images/sign_arrow.png) no-repeat;
}
.calendar_month_next {
	float: right;
	background-position: -42px -6px;
}
.calendar_month_span {
	display: inline;
	line-height: 40px;
	font-size: 16px;
	color: #ef8300;
	letter-spacing: 2px;
	font-weight: bold;
}
.calendar_month_prev {
	float: left;
	background-position: -5px -6px;
}
.sign_succ_calendar_title {
	text-align: center;
	border-left: 1px solid #faca34;
	border-right: 1px solid #faca34;
	background: #faca34;
}
/*上边有一点线*/
.sign_main {
	border-top: 1px solid #fff;
	font-family: "Microsoft YaHei", SimHei;
}
/*大盒子*/
.calenbox {
	background: #fff;
	margin-top: 1rem;
}
/*--签到*/ 
.btnBox {
	align-items: center;
	display: flex;
	display: -webkit-flex;
	justify-content: center;
}
.btnqiandao {
	width: 5rem;
	height: 2rem;
	background: #0081cc;
	color: #fff;
	font-size: 18px;
	font-weight: bolder;
 border-radius:.5rem;
	text-align: center;
	position: relative;
	top:-.5rem;
	font-size:.9rem;
}
/*--签到*/ 
.qdbox {
	display: none;
	top: 8rem;
	position: fixed;
	z-index: 1001;
}
.qdbox img {
	width: 15rem;
	height: 5rem;
margin-left:.5rem;
}
.maskbox {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.7);
	display: none;
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
}
.qbbox_content {
	width: 12rem;
	margin: 0 auto;
	text-align: center;
	background: #FFF;
	border-radius: 0 0 1rem 1rem;
	padding: 1.5rem 0 1rem 0;
	margin-top: -1rem;
 font-size:.9rem;
	color: #434343;
}
.close {
	top: 2rem;
	
}
.qbbox_content .qbtext {
	padding: 0 0 1rem 0;
}
.closeImg {
	width: 1.5rem;
	height: 1.5rem;
	background: url(../images/qiandao/close.png) no-repeat;
	display: inline-block;
	background-size: 100% 100%;
}
